.wrap-login100.p-l-55.p-r-55.p-t-40.p-b-30 {
    box-shadow: rgba(38, 40, 13, 0.35) 1px 7px 14px;
}
.error {
    border:1px solid red;
    color: red;
    /* Add other styles to indicate an error state */
  }
/* .bodert {
    border-top: 2px solid #c1a7a7;
    position: relative;
}
.bodert:after {
    content: "or connect with";
    position: absolute;
    top: 18px;
    left: 0%;
    padding: 0 8px;
    background-color: white;
} */